* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background-color: #aac0a8;
}

a {
  text-decoration: none;
  color: #0f0f0f;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #be2929;
}

button {
  background-color: #1c682f;
  border: 0;
  padding: 1%;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: white;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #020202;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#banner {
  width:min-content;
  align-self: center;
}

.wrapper header{
  width: 100%;
  height: 100%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgb(125, 133, 110);
  border-bottom: 10px solid var(--bg-color);
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
  padding: 0 1%;
}

nav p{
  display: inline;
}


header h1 {
  font-size: 1em;
}

nav a {
  margin-left: 16px;
  color: rgb(212, 205, 205);
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #0c0c0c;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #34ebeb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.title a{
  color: #112011;
}

.title a:hover {
  color: rgb(67, 238, 224);
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment-form textarea {
  font-family: sans-serif;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
  font-family: sans-serif;
}

.edit-post-form {
  margin-bottom: 5%;
}

.edit-post-form textarea {
  font-family: sans-serif;
  font-size: 14px;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}